[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = https://github.com/till-s/surf
[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = https://github.com/slaclab/ruckus
[submodule "firmware/submodules/lcls-timing-core"]
	path = firmware/submodules/lcls-timing-core
	url = https://github.com/till-s/lcls-timing-core
[submodule "firmware/submodules/ila-wrappers-for-surf"]
	path = firmware/submodules/ila-wrappers-for-surf
	url = https://github.com/slaclab/ila-wrappers-for-surf
[submodule "firmware/submodules/lan9254-rtl-esc"]
	path = firmware/submodules/lan9254-rtl-esc
	url = https://github.com/paulscherrerinstitute/lan9254-rtl-esc.git
[submodule "firmware/submodules/psi_common"]
	path = firmware/submodules/psi_common
	url = https://github.com/paulscherrerinstitute/psi_common
[submodule "firmware/submodules/evr320"]
	path = firmware/submodules/evr320
	url = https://git.psi.ch/straumann_t/evr320.git/
	branch = straumann_t
[submodule "firmware/submodules/ecevr-core"]
	path = firmware/submodules/ecevr-core
	url = ../ecevr-core
